<mat-toolbar class="barraFerramenta">
    <span class="barraFerramentaTexto" *ngIf="!editar">Atualizar Cadsatro</span>
    <span class="barraFerramentaTexto" *ngIf="editar">Editar</span>
  </mat-toolbar>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" >
  <mat-card class="tabelaCadastrar" >
  <div >
      <!---p-table id="tabelaempresa" [value]="listaempresa"-->
      <!--tr>
          <mat-form-field class="inserirCadastrar">
            <input  matInput name="oidempresa" placeholder="ID da Empresa" formControlName="oidempresa" [(ngModel)]="empresa.oidempresa">
            <mat-error *ngIf="formGroup.get('oidempresa').invalid">
             ID da Empresa <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </tr-->
   
         <tr>
          <mat-form-field class="inserirCadastrar">
            <input  matInput placeholder="Nome do Recurso*"   formControlName="nmrecursos" [(ngModel)]="recursos.nmrecursos"  >
            <mat-error *ngIf="formGroup.get('nmrecursos').invalid">
             O nome do Recurso é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </tr>
        <tr>
  </div>
       <button mat-raised-button class="botaoSalvar">Salvar
        <mat-icon class="mat-18">save</mat-icon>
       </button>
       <button mat-raised-button [mat-dialog-close] class="botaoSair" >Sair
      </button>
  </mat-card>
  
  </form>

  