<mat-toolbar class="barraFerramentaListar">
  Atividades
  </mat-toolbar>
    <div class="component-margin">
    <mat-card>
  <!--mat-form-field class="barraPesquisarListar">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
  </mat-form-field-->
  <div class="barraPesquisarListar">
    <mat-form-field class="barraPesquisarListar">
    <input matInput type="text" [(ngModel)]="searchField" pInputText placeholder="Pesquise por Nome da Recurso">
    </mat-form-field>
    <button  mat-raised-button class="botaoSalvar" (click)="buscarDadosPagina(null)">Buscar
    </button>
    <button  mat-raised-button class="botaoSalvar" (click)="open()">Cadastrar
    </button>
  </div>
  <div class="tabelaListar">
          <div *ngIf="listarAtividades?.length == 0">
            <p>Não existe Atividades ativos.</p>
          </div>
          <p-table [columns]="cols" [value]="listarAtividades" [lazy]="true" (onLazyLoad)="buscarAtividades($event)"
                   [paginator]="true" [rows]="linesPerPage" [totalRecords]="totalRecords" >
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 200px;">Nome do Projeto</th>
                <th>Nome do Recurso</th>
                <th>Data Inicio</th>
                <th>Data Final</th>
                <th>Numero de horas</th>
                <th style="width: 80px;">Ações</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
              <tr>
                <td class="font-column" style="word-break: break-all;">
                    {{rowData?.nmProjetos}}
                  </td>
                <td class="font-column">
                  {{rowData?.nmRecursos }}
                </td>
                <td class="font-column" style="word-break: break-all;">
                  {{rowData?.dtInicio | date:'dd/MM/yyyy'}}
                </td>
                <td class="font-column">
                  {{rowData?.dtFinal | date:'dd/MM/yyyy'}}
                </td>
                <td class="font-column">
                  {{rowData?.nrhorasAtividade}}
                </td>
                <td class="font-column" style="padding: 0px 0px;">
                  <button mat-icon-button (click)="abrirDialogCadastrarAtividades(rowData)">
                    <!--i class="pi pi-pencil" style="font-size: 25px; color: #b9b9b9;"></i-->
                    <i class="material-icons" style="font-size: 25px; color: #b9b9b9;">
                      brush
                      </i>
                  </button>
                  <button mat-icon-button (click)="abrirDialogDeletarAtividades(rowData.oid)">
                    <!--i class="pi pi-trash" style="font-size: 25px; color: #b9b9b9;"></i-->
                    <i class="material-icons" style="font-size: 25px; color: #b9b9b9;">
                      delete_outline
                      </i>
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>

          <p class="rodapeExibindo">Exibindo {{listarAtividades?.length}} de {{totalRecords}}</p>
      </div>
    </mat-card>
  </div>