.formularioCadastrar {
    min-width: 400px;
    max-width: 500px;
    margin-left:auto;
    margin-right:auto;
  }
  
  .barraFerramentaTexto {
    font-weight: 400;
    line-height: 32px;
  
  }
  
  .insert-full-width {
    width: 100%;
  }
  
  .barraFerramenta {
    background-color: rgb(255, 154, 71);
    width: 100%;
    color: white;
  }
  
  .botaoSalvar {
    margin: 10px;
    width: 115px;
    text-align: center;
    border-radius: 20px;
  }
  
  .botaoSair {
    margin: 10px;
    width: 115px;
    text-align: center;
    border-radius: 20px;
  }
  
  .botaoCancelar{
    border-radius: 20px;
  }
  
  .inserirCadastrar {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 500px;
  }
  
  .tabelaCadastrar {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 20px;
    border-radius: 2px;
    width: 490px;
    height: 900px;
  }
  