<mat-toolbar class="barraFerramenta">
  <span class="barraFerramentaTexto" *ngIf="!editar">Cadastrar</span>
  <span class="barraFerramentaTexto" *ngIf="editar">Editar</span>
</mat-toolbar>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="formularioCadastrar">

  <mat-card class="tabelaCadastrar">
     <div>
     <tr>
        <mat-form-field class="inserirCadastrar">
          <input matInput placeholder="Nome da atividade" formControlName="nmtipoAtividade" [(ngModel)]="tiposAtividades.nmtipoAtividade">
          <mat-error *ngIf="registerForm.get('nmtipoAtividade').invalid">
           O Nome da atividade é <strong>Obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </tr>
       <tr>
        <mat-form-field class="inserirCadastrar">
          <input matInput placeholder="Valor da atividade" formControlName="vratividade" [(ngModel)]="tiposAtividades.vratividade" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          <mat-error *ngIf="registerForm.get('vratividade').invalid">
           Valor da atividade é <strong>Obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </tr>
        </div>
    <button mat-raised-button class="botaoSalvar">Salvar
      <mat-icon class="mat-18">save</mat-icon>
    </button>
    <button mat-raised-button [mat-dialog-close] class="botaoSair" >Sair
    </button>
    </mat-card>

</form>
