 <mat-toolbar class="barraFerramentaListar">
    Projetos
    </mat-toolbar>
      <div class="component-margin">
      <mat-card>
    <!--mat-form-field class="barraPesquisarListar">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
    </mat-form-field-->
    <div class="barraPesquisarListar">
      <mat-form-field class="barraPesquisarListar">
      <input matInput type="text" [(ngModel)]="searchField" pInputText placeholder="Pesquise Nome da Empresa">
      </mat-form-field>
      <button  mat-raised-button class="botaoSalvar" (click)="buscarDadosPagina(null)">Buscar
      </button>
      <button  mat-raised-button class="botaoSalvar" (click)="open()">Cadastrar
      </button>
    </div>
    <div class="tabelaListar">
            <div *ngIf="listarProjetos?.length == 0">
              <p>Não existe Projetos ativos.</p>
            </div>
            <p-table [columns]="cols" [value]="listarProjetos" [lazy]="true" (onLazyLoad)="buscarProjetos($event)"
                     [paginator]="true" [rows]="linesPerPage" [totalRecords]="totalRecords" >
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th style="width: 200px;">Nome do Projeto</th>
                  <th>Nome da Empresa</th>
                  <th>data de Inicio</th>
                  <th>data Final</th>
                  <th>Custo Aprovado</th>
                  <th>Descrição do Projeto</th>
                  <th style="width: 80px;">Ações</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData>
                <tr>
                  <td class="font-column" style="word-break: break-all;">
                      {{rowData?.nmprojeto}}
                    </td>
                    <td class="font-column" style="word-break: break-all;">
                      {{rowData?.nmEmpresa}}
                    </td>
                  <td class="font-column">
                    {{rowData?.dtprojetoInicio |date:'dd/MM/yyyy'}}
                  </td>
                  <td class="font-column">
                    {{rowData?.dtprojetoFinal | date:'dd/MM/yyyy'}}
                  </td>
                  <td class="font-column" style="word-break: break-all;">
                    {{rowData?.vrcustoAprovado | currency:'BRL'}}
                  </td>
                  <td class="font-column">
                    {{rowData?.dsdescricaoProjeto}}
                  </td>
                  <td class="font-column" style="padding: 0px 0px;">
                    <button mat-icon-button (click)="abrirDialogCadastrarProjetos(rowData)">
                      <!---i class="pi pi-pencil" style="font-size: 25px; color: #b9b9b9;"></i-->
                      <i class="material-icons" style="font-size: 25px; color: #b9b9b9;">
                        brush
                        </i>
                    </button>
                    <button mat-icon-button (click)="abrirDialogDeletarProjetos(rowData.oid)">
                      <!---i class="pi pi-trash" style="font-size: 25px; color: #b9b9b9;"></i-->
                      <i class="material-icons" style="font-size: 25px; color: #b9b9b9;">
                        delete_outline
                        </i>
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
  
            <p class="rodapeExibindo">Exibindo {{listarProjetos?.length}} de {{totalRecords}}</p>
        </div>
      </mat-card>
    </div>